:root {
    --red1: #F80000;
    --red2: #BA0000;
    --red3: #7C0000;
    --red4: #3E0000;
    --white: #ffff;
    --black: #0000;
}

/* Header Bar */
header {
    background-color: var(--red2);
}

header h1 {
    color: var(--white);
}

/* bpm Circle */

#bpm-border {
    border: solid var(--red1) 5px;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    position: relative;
    right: -5%;
}

.top .bpm-num {
    color: white;
    font-size: 40px;
}

.top .bpm {
    color: white;
    font-size: 15px;
}

/* beat/note button */

#beat-note {
    background-color: var(--red1);
    border-radius: 5px;
    width: 200px;
    height: 75px;
    position: relative;
    right: -20%;
}

#beat-note p {
    color: white;
}

#beat-note #num {
    font-size: 25px;
}

#beat-note #plus, #minus {
    color: var(--red1);
    background-color: white;
    width: auto;
    height: 25px;
    border-radius: 5px;
}

/* divide button */
#divide {
    background-color: var(--red1);
    border-radius: 5px;
    width: 150px;
    height: 50px;
    position: relative;
    right: -32%;
}

#divide p {
    position: relative;
    top: 5px;
    font-size: 20px;
    color: white;
}

/* accent button */
#accent {
    background-color: var(--red1);
    border-radius: 5px;
    width: 150px;
    height: 50px;
    position: relative;
    right: -32%;
}

#accent p {
    position: relative;
    top: 5px;
    font-size: 20px;
    color: white;
}


/* Range Slider */
#customRange1 {
    width: 300px;
}

#customRange1::-webkit-slider-thumb {
    background-color: var(--red1);
    position: relative;
    top: -5px;
    width: 30px;
    height: 30px;
}

#customRange1::-webkit-slider-runnable-track {
    background-color: var(--red1);
}

#range-up, #range-down {
    color: white;
    background-color: var(--red1);
    width: 35px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#range-up:hover {
    cursor: pointer;
    background-color: var(--red3);
}

#range-down:hover {
    cursor: pointer;
    background-color: var(--red3);
}

#range-up:active {
    background-color: var(--red4);
}

#range-down:active {
    background-color: var(--red4);
}


/* Groups */ 
.groups {
    display: flex;
    justify-content: center;
}
.sect {
    background-color: var(--red1);
    width: 90px;
    height: 30px;
    margin: 8px 3px 8px 3px;
}


.notes {
    display: flex;
    justify-content: center;
}

.note {
    background-color: var(--red1);
    width: 90px;
    height: 7px;
    margin: 10px 3px 10px 3px;
}

/* Group Buttons */
.group-buttons .buttons {
    justify-content: center;
}

.group-buttons .buttons .button {
    background-color: white;
    border-radius: 5px;
    width: 175px;
    height: 65px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-right: 10px;
}

.group-buttons .buttons .button p {
    color: var(--red1);
}

.group-buttons .buttons .button .number {
    font-size: 40px;
    position: relative;
    top: 7px;
}

.group-buttons .buttons .button .btn-value {
    font-size: 30px;
}

.group-buttons .buttons .button span {
    color: white;
    background-color: var(--red1);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}




