:root {
    --red1: #F80000;
    --red2: #BA0000;
    --red3: #7C0000;
    --red4: #3E0000;
    --white: #ffff;
    --black: #0000;
}

/* Header Bar */
header {
    background-color: var(--red2);
}

header h1 {
    color: var(--white);
}

/* bpm Circle */

#bpm-border {
    border: solid var(--red1) 5px;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    position: relative;
    right: -5%;
}

.top .bpm-num {
    color: white;
    font-size: 40px;
}

.top .bpm {
    color: white;
    font-size: 15px;
}

/* beat/note button */

#beat-note {
    background-color: var(--red1);
    border-radius: 5px;
    width: 200px;
    height: 75px;
    position: relative;
    right: -20%;
}

#beat-note p {
    color: white;
}

#beat-note #num {
    font-size: 25px;
}

#beat-note #beat-plus, #beat-minus, #note-plus, #note-minus {
    color: var(--red1);
    background-color: white;
    width: auto;
    height: 25px;
    border-radius: 5px;
}

#beat-note #beat-plus:hover {
    cursor: pointer;
    background-color: black;
}
#beat-note #beat-minus:hover {
    cursor: pointer;
    background-color: black;
}
#beat-note #note-plus:hover {
    cursor: pointer;
    background-color: black;
}
#beat-note #note-minus:hover {
    cursor: pointer;
    background-color: black;
}

#beat-note #beat-plus:active {
    background-color: var(--red3);
}
#beat-note #beat-minus:active {
    background-color: var(--red3);
}
#beat-note #note-plus:active {
    background-color: var(--red3);
}
#beat-note #note-minus:active {
    background-color: var(--red3);
}



/* divide button */
#divide {
    background-color: var(--red1);
    border-radius: 5px;
    width: 150px;
    height: 50px;
    position: relative;
    right: -32%;
}

#divide p {
    position: relative;
    top: 5px;
    font-size: 20px;
    color: white;
}

#divide:hover {
    cursor: pointer;
    background-color: var(--red3);
}


#divide:active {
    background-color: var(--red4);
}


/* accent button */
#accent {
    background-color: var(--red1);
    border-radius: 5px;
    width: 150px;
    height: 50px;
    position: relative;
    right: -32%;
}

#accent p {
    position: relative;
    top: 5px;
    font-size: 20px;
    color: white;
}

#accent:hover {
    cursor: pointer;
    background-color: var(--red3);
}


#accent:active {
    background-color: var(--red4);
}



/* Range Slider */
#customRange1 {
    width: 300px;
}

#customRange1::-webkit-slider-thumb {
    background-color: var(--red1);
    position: relative;
    top: -5px;
    width: 30px;
    height: 30px;
}

#customRange1::-webkit-slider-runnable-track {
    background-color: var(--red1);
}

#range-up, #range-down {
    color: white;
    background-color: var(--red1);
    width: 35px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#range-up:hover {
    cursor: pointer;
    background-color: var(--red3);
}

#range-down:hover {
    cursor: pointer;
    background-color: var(--red3);
}

#range-up:active {
    background-color: var(--red4);
}

#range-down:active {
    background-color: var(--red4);
}


/* Groups */ 
.groups {
    display: flex;
    justify-content: center;
}
.sect {
    background-color: var(--red1);
    width: 90px;
    height: 30px;
    margin: 8px 3px 8px 3px;
}

.sect:hover {
    cursor: pointer;
    /* background-color: var(--red3); */
}

.sect:active {
    /* background-color: var(--red4); */
}


.notes {
    display: flex;
    justify-content: center;
}

.note {
    background-color: var(--red1);
    width: 90px;
    height: 7px;
    margin: 10px 3px 10px 3px;
}

/* Group Buttons */
.group-buttons .buttons {
    justify-content: center;
}

.group-buttons .buttons .button {
    background-color: white;
    border-radius: 5px;
    width: 175px;
    height: 65px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-right: 10px;
}

.group-buttons .buttons .button p {
    color: var(--red1);
}

.group-buttons .buttons .button .number {
    font-size: 40px;
    position: relative;
    top: 7px;
}

.group-buttons .buttons .button .btn-value {
    font-size: 30px;
}

.group-buttons .buttons .button span {
    color: white;
    background-color: var(--red1);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

/* .add-group-container {
    display: flex;
    justify-content: center;
} */

#add-group {
    background-color: var(--red1);
    color: white;
    border-radius: 5px;
    width: 120px;
    height: 50px;
    font-size: 45px;
    font-weight: bold;

}

#add-group:hover {
    cursor: pointer;
    background-color: white;
    color: var(--red1)
}

#add-group:active {
    background-color: var(--red3);
    color: white;
}

#remove-group {
    background-color: var(--red1);
    color: white;
    border-radius: 5px;
    width: 120px;
    height: 50px;
    font-size: 45px;
    font-weight: bold;
    margin-right: 75px;

}

#remove-group:hover {
    cursor: pointer;
    background-color: white;
    color: var(--red1)
}

#remove-group:active {
    background-color: var(--red3);
    color: white;
}


@media (max-width: 420px) {
    #bpm-border {
        width: 150px;
        height: 150px;
        right: -3%;
    }

    #beat-note {
        width: 175px;
        height: 75px;
        right: -18%;
    }

    #beat-note p {
        font-size: 15px;
    }
    
    #beat-note #num {
        font-size: 20px;
    }

    #divide {
        right: -24%;
    }
    #accent {
        right: -24%;
    }

    #customRange1 {
        width: 250px;
    }

    .sect {
        width: 80px;
    }

    .note {
        width: 80px;
    }

    .group-buttons .buttons .button {
        width: 165px;
    }


}



